<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SMTPCLNT" value="smtp.gmail.com"/>
    <add key="SMTPPORT" value ="587"/>
    <add key="SSLSWTCH" value="true"/>
    <add key="USERNAME" value=""/>
    <add key="USERPSWD" value=""/>
    <add key="EMAILAPP" value="gmail.com"/>
    <add key="DSPLYADRS" value="Sender Name"/>
    <add key="TOADRESS" value="mailto.247365@ymail.com"/>
    <add key="MAILSBJCT" value="Your PC's current IP"/>
  </appSettings>
</configuration>
